{% extends "core/base.html" %}

{% block title %}
    about
{% endblock %}


{% block content %}

    questo è un progetto per il secondo laboratorio di progettazione e produzione multimediale
    sviluppato da: <h1 class="rainbow-text">pietro bambagioni</h1>

    <div class="text-2xl">
    Funzioni:
    </div>
    prodotti ordinati per data di inserimento;
    pagina di dettaglio di un prodotto;
    categoria di prodotti;
    ricerca per nome, descrizione;
    login e registrazione, logout;
    carrello;
    checkout

{% endblock %}